<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <h2 style="margin-top: 1%; margin-left: 1%;">{{title}}</h2>
        </mat-card-header>
        <mat-card-content>

            <mat-form-field class="mat-50">
                <mat-label>Student</mat-label>
                <input type="text"
                        placeholder="Select..."
                        aria-label="Student"
                        [ngClass]="{ 'is-invalid': submitted && f.student.errors }"
                        matInput
                        [matAutocomplete]="autocur"
                        formControlName="student"
                    >
                <mat-autocomplete autoActiveFirstOption #autocur="matAutocomplete" [displayWith]="displayFnStu">
                <mat-option *ngFor="let option of filteredOptionsStu | async" [value]="option">
                    {{option.full_name}}
                </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="submitted && f.student.errors">
                    <span *ngIf="f.student.errors.required">Student is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Employee</mat-label>
                <input type="text"
                        placeholder="Select..."
                        aria-label="Employee"
                        [ngClass]="{ 'is-invalid': submitted && f.employee.errors }"
                        matInput
                        [matAutocomplete]="autocur"
                        formControlName="employee"
                    >
                <mat-autocomplete autoActiveFirstOption #autocur="matAutocomplete" [displayWith]="displayFnEmp">
                <mat-option *ngFor="let option of filteredOptionsEmp | async" [value]="option">
                    {{option.full_name}}
                </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="submitted && f.employee.errors">
                    <span *ngIf="f.employee.errors.required">Employee is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Book Title</mat-label>
                <input type="text"
                        placeholder="Select..."
                        aria-label="Book Title"
                        [ngClass]="{ 'is-invalid': submitted && f.book.errors }"
                        matInput
                        [matAutocomplete]="autocur"
                        formControlName="book"
                    >
                <mat-autocomplete autoActiveFirstOption #autocur="matAutocomplete" [displayWith]="displayFnBook">
                <mat-option *ngFor="let option of filteredOptionsBook | async" [value]="option">
                    {{option.title}}
                </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="submitted && f.book.errors">
                    <span *ngIf="f.book.errors.required">Book Title is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Date Borrowed</mat-label>
                <input type="date" formControlName="date_borrowed"
                    [ngClass]="{ 'is-invalid': submitted && f.date_borrowed.errors }" matInput />
                <mat-error *ngIf="submitted && f.date_borrowed.errors">
                    <span *ngIf="f.date_borrowed.errors.required">Date Borrowed is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Date Returned</mat-label>
                <input type="date" formControlName="date_returned"
                    [ngClass]="{ 'is-invalid': submitted && f.date_returned.errors }" matInput />
                <mat-error *ngIf="submitted && f.date_returned.errors">
                    <span *ngIf="f.date_returned.errors.required">Date Returned is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Remarks</mat-label>
                <textarea formControlName="remarks" matInput></textarea>
            </mat-form-field>
            

            <mat-form-field class="mat-50">
                <mat-label>Borrower Type</mat-label>
                <select matNativeControl required formControlName="borrower_type" matInput>
                    <option value="Student">Student</option>
                    <option value="Employee">Employee</option>
                </select>
                <mat-error *ngIf="submitted && f.borrower_type.errors">
                    <span *ngIf="f.borrower_type.errors.required">Borrower Type is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Book Status</mat-label>
                <select matNativeControl required formControlName="book_status" matInput>
                    <option value="CheckedOut">Checked Out</option>
                    <option value="Returned">Returned</option>
                </select>
                <mat-error *ngIf="submitted && f.book_status.errors">
                    <span *ngIf="f.book_status.errors.required">Book Status is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Returned Status</mat-label>
                <select matNativeControl required formControlName="returned_status" matInput>
                    <option value="Good">Good</option>
                    <option value="Damaged">Damaged</option>
                    <option value="Lost">Lost</option>
                </select>
                <mat-error *ngIf="submitted && f.returned_status.errors">
                    <span *ngIf="f.returned_status.errors.required">Returned Status is required</span>
                </mat-error>
            </mat-form-field>

        </mat-card-content>
        <mat-card-footer>
            <div style="margin: 2%; text-align: right;">
                <button mat-raised-button type="submit" color="primary" [disabled]="submitting">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                    <span *ngIf="id">Update</span>
                    <span *ngIf="!id">Save</span>
                </button>
                <a routerLink="/students" class="btn btn-link">Cancel</a>
            </div>
        </mat-card-footer>
    </mat-card>
</form>