/* add-edit */

mat-card {
    margin: 2%;
    text-align: left;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

.mat-50 {
    width: 48%;
    margin: 1%;
}


/* list */

.mat-column-name {
    width: 20%;
}

.mat-column-description {
    width: 20%;
}

.example-container {
    height:500px;
    overflow: auto;
   
}

table {
    width: 100%;
}