.example-spacer {
    flex: 1 1 auto;
}

p {
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.mat-icon {
    transform: scale(1.5);
}

.sticky-toolbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed */
  }

  .sticky-container {
    position: sticky;
    top: 0;
    height: 100%;
    overflow-y: auto;
  }
  
  .currentTime{
    justify-content: center;
    font-size: medium;
    
  }
  .mt-3{
    position: relative;
    padding-top: 10px;
    margin-bottom: 0;
  }

 
 