<mat-toolbar color="primary" class="mat-elevation-z8" class="sticky-toolbar" >
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Benedicto College Library System </span>
   <!-- <span class="currentTime">Current Time: {{ currentTime | date:'hh:mm:ss a' }}</span>-->
    <span class="example-spacer"></span>
    <button routerLink="" mat-button>Home</button>

    <!-- <button [matMenuTriggerFor]="inventory" mat-button>Inventory</button>
    <mat-menu #inventory="matMenu">
        <button mat-menu-item routerLink="/product-inventories">Product</button>
        <button mat-menu-item routerLink="/product-ins">Product In</button>
    </mat-menu>

    <button [matMenuTriggerFor]="sales" mat-button>Sales</button>
    <mat-menu #sales="matMenu">
        <button mat-menu-item routerLink="/orders">Order</button>
    </mat-menu> -->

    <button [matMenuTriggerFor]="account" mat-button
        *ngIf="user"><mat-icon>account_circle</mat-icon>{{user.user?.username}}</button>
    <mat-menu #account="matMenu">
        <button mat-menu-item routerLink="/users/profile/{{user?.user?.id}}">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <!-- <button [matMenuTriggerFor]="lvl1master" routerLink="" mat-button>Master</button> -->
    <!-- <mat-menu #lvl1master="matMenu">
        <button [matMenuTriggerFor]="company" mat-menu-item>Company</button>
        <button [matMenuTriggerFor]="customer" mat-menu-item>Customer</button>
        <button [matMenuTriggerFor]="product" mat-menu-item>Product</button>
    </mat-menu> -->

    <!-- <mat-menu #company="matMenu">
        <button mat-menu-item>Term</button>
        <button mat-menu-item>Tax</button>
        <button mat-menu-item>Currency</button>
    </mat-menu>

    <mat-menu #customer="matMenu">
        <button mat-menu-item>Customer Type</button>
        <button mat-menu-item>Tax</button>
    </mat-menu>

    <mat-menu #product="matMenu">
        <button mat-menu-item>Category</button>
        <button [matMenuTriggerFor]="variant" mat-menu-item>Variant</button>
        <button mat-menu-item>UOM</button>
    </mat-menu>

    <mat-menu #variant="matMenu">
        <button mat-menu-item>Color</button>
        <button mat-menu-item>Size</button>
    </mat-menu> -->

    <!-- <button routerLink="input" mat-button>Input</button> -->
    <!-- <button routerLink="autocomplete" mat-button>Autocomplete</button> -->
    <!-- <button mat-raised-button color="accent">Sign Up</button> -->
    <!-- <button mat-raised-button color="accent" (click)="logout()" *ngIf="user">Logout</button> -->
    <!-- <button (click)="badgeVisibility()" mat-icon-button>
        <mat-icon matBadge="15" [matBadgeHidden]="badgeVisible" matBadgeColor="warn">notifications</mat-icon>
    </button> -->
</mat-toolbar>
<mat-drawer-container class="sticky-container" >
    <mat-drawer #drawer opened="{{openDrawer}}" mode="side">
        <mat-nav-list>
            <mat-list-item>
                <button class="button" routerLink="/" mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
            </mat-list-item>
            <!-- <mat-list-item>
                <button mat-button routerLink="/books"
                    routerLinkActive="active"><mat-icon>library_books</mat-icon>Books</button>
            </mat-list-item> -->
            <mat-list-item>
                <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>library_books</mat-icon>Books <span class="mt-3"><mat-icon class="p-1">arrow_drop_down</mat-icon></span>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/books">
                        Books List
                      </button>

                    <button mat-menu-item routerLink="/categorys">
                      Category
                    </button>
                    <button mat-menu-item routerLink="/authors">
                        Author
                      </button>
                    <button mat-menu-item routerLink="/publishers">
                        Publisher
                    </button>
                  </mat-menu>
            </mat-list-item>

           


            <!-- <div mat-subheader>Inventory</div> -->
            <!-- <mat-list-item>
                <button mat-button routerLink="" routerLinkActive="active"><mat-icon>inventory_2</mat-icon>Item</button>
            </mat-list-item> -->
            <!-- <mat-list-item>
                <button mat-button routerLink="/product-inventories"><mat-icon>menu_book</mat-icon>Product</button>
            </mat-list-item> -->
            <!-- <mat-list-item>
                <button mat-button routerLink="/product-ins"><mat-icon>add box icon</mat-icon>Product In</button>
            </mat-list-item> -->
            <!-- <div mat-subheader>Sales</div>
            <mat-list-item>
                <button mat-button routerLink="/orders"><mat-icon>restaurant</mat-icon>Order</button>
            </mat-list-item> -->
            <div mat-subheader>Settings</div>
            <mat-list-item >
                <button mat-button routerLink="/users"><mat-icon>person</mat-icon>Users</button>
            </mat-list-item>

            <!-- <mat-list-item>
                <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>library_books</mat-icon>User
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/students">
                        Book List
                      </button>

                    <button mat-menu-item routerLink="/categorys">
                      Category
                    </button>
                    <button mat-menu-item routerLink="/authors">
                        Author
                      </button>
                    <button mat-menu-item routerLink="/publishers">
                        Publisher
                    </button>
                  </mat-menu>
            </mat-list-item> -->
            <!--
            <mat-list-item>
                <button mat-button routerLink="/role"
                    routerLinkActive="active"><mat-icon>person</mat-icon>Users Role</button>
            </mat-list-item>
            -->
            <!-- <mat-list-item>
                <button mat-button routerLink="/categorys"
                    routerLinkActive="active"><mat-icon>category</mat-icon>Categories</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/authors"
                    routerLinkActive="active"><mat-icon>person_outline</mat-icon>Authors</button>
            </mat-list-item>
           
            <mat-list-item>
                <button mat-button routerLink="/publishers"
                    routerLinkActive="active"><mat-icon>publish</mat-icon>Publishers</button>
            </mat-list-item>
       -->
            <mat-list-item>
                <button mat-button routerLink="/accessions"
                    routerLinkActive="active"><mat-icon>book</mat-icon>Accessions</button>
            </mat-list-item>
      
            <mat-list-item>
                <button mat-button routerLink="/students"
                    routerLinkActive="active"><mat-icon>person</mat-icon>Students</button>
            </mat-list-item>    
            <mat-list-item>
                <button mat-button  routerLink="/course"
                    routerLinkActive="active"><mat-icon>school</mat-icon>Courses</button>
            </mat-list-item>

            <mat-list-item>
                <button mat-button routerLink="/employee"
                    routerLinkActive="active"><mat-icon>people</mat-icon>Faculty</button>
            </mat-list-item>
          
            <mat-list-item>
                <button mat-button routerLink="/borrowers-record"
                    routerLinkActive="active"><mat-icon>collections_bookmark</mat-icon> Borrowers Record</button>
            </mat-list-item>
            <!-- <mat-list-it
             <mat-list-item>
                <button mat-button routerLink="/banks"><mat-icon>account_balance</mat-icon>Banks</button>
            </mat-list-item> -->
            <!-- <mat-list-item>
                <button mat-button routerLink="/products"><mat-icon>restaurant_menu</mat-icon>Products</button>
            </mat-list-item> -->
            <!-- <mat-list-item>
                <button mat-button><mat-icon>settings</mat-icon>Settings</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>help</mat-icon>Help</button>
            </mat-list-item>
             -->
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content >
        <div style="min-height: 500px;">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
        <footer>
            <p>Copyright © 2023<a target="_blank" href="https://bclib.org/">&nbsp;BC</a>. All Rights Reserved</p>
        </footer>
    </mat-drawer-content>

</mat-drawer-container>