<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-card>
        <mat-card-header><h2 style="margin-top: 1%; margin-left: 1%;">{{title}}</h2></mat-card-header>
        <mat-card-content>

            <mat-form-field class="mat-50">
                <mat-label>OR Number</mat-label>
                <input type="text" formControlName="or_number" [ngClass]="{ 'is-invalid': submitted && f.or_number.errors }" matInput />
                <mat-error *ngIf="submitted && f.or_number.errors">
                    <span *ngIf="f.or_number.errors.required">OR Number is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Ordered to</mat-label>
                <input type="text" formControlName="ordered_to" [ngClass]="{ 'is-invalid': submitted && f.ordered_to.errors }" matInput />
                <mat-error *ngIf="submitted && f.ordered_to.errors">
                    <span *ngIf="f.ordered_to.errors.required">Ordered To is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-25">
                <mat-label>Payment Type</mat-label>
                <select matNativeControl required formControlName="payment_type" matInput>
                    <option value="CASH">CASH</option>
                    <option value="GCASH">GCASH</option>
                    <option value="PAYMAYA">PAYMAYA</option>
                </select>
                <mat-error *ngIf="submitted && f.payment_type.errors">
                    <span *ngIf="f.payment_type.errors.required">Payment Type is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-25">
                <mat-label>Total Cash</mat-label>
                <input formControlName="total_cash" [value]="form.get('total_cash')?.value | currency:'PHP'" matInput readonly>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Order Type</mat-label>
                <select matNativeControl required formControlName="order_type" matInput>
                    <option value="DINEIN">DINEIN</option>
                    <option value="PICKUP">PICKUP</option>
                    <option value="DELIVERY GRAB">DELIVERY GRAB</option>
                    <option value="DELIVERY PANDA">DELIVERY PANDA</option>
                </select>
                <mat-error *ngIf="submitted && f.order_type.errors">
                    <span *ngIf="f.order_type.errors.required">Order Type is required</span>
                </mat-error>
            </mat-form-field>

            <section class="full-width">
                <mat-checkbox formControlName="credit_card" (click)="updateCreditCard()">Credit Card</mat-checkbox>
            </section>

            <mat-form-field class="mat-25" *ngIf="this.form.get('credit_card')?.value">
                <mat-label>Credit Card Amount</mat-label>
                <input type="number" formControlName="credit_card_amount" [ngClass]="{ 'is-invalid': submitted && f.credit_card_amount.errors }" matInput 
                    min="0" #input OnlyNumber="true">
                <mat-error *ngIf="submitted && f.credit_card_amount.errors">
                    <span *ngIf="f.credit_card_amount.errors.required">Credit Card amount is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-25" *ngIf="this.form.get('credit_card')?.value">
                <mat-label>Credit Card Bank</mat-label>
                <input type="text"
                        placeholder="Select..."
                        aria-label="Bank"
                        [ngClass]="{ 'is-invalid': submitted && f.product.errors }"
                        matInput
                        [matAutocomplete]="auto"
                        formControlName="credit_card_bank"
                    >
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="mat-50" *ngIf="this.form.get('credit_card')?.value">
                <mat-label>Credit Card Reference Number</mat-label>
                <input type="text" formControlName="credit_card_ref_num" matInput />
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" matInput></textarea>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Total Amount</mat-label>
                <!-- <input matInput disabled value="{{totalAmount | currency:'PHP'}}"> -->
                <input formControlName="total_amount" matInput readonly>
            </mat-form-field>

            <!-- <mat-form-field class="mat-50">
                <mat-label>Address</mat-label>
                <input type="text" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" matInput />
                <mat-error *ngIf="submitted && f.address.errors">
                    <span *ngIf="f.address.errors.required">Address is required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>Business Name</mat-label>
                <input type="text" formControlName="business_name" [ngClass]="{ 'is-invalid': submitted && f.business_name.errors }" matInput />
                <mat-error *ngIf="submitted && f.business_name.errors">
                    <span *ngIf="f.business_name.errors.required">Business Name is required</span>
                </mat-error>
            </mat-form-field> -->

        </mat-card-content>
        <mat-card-footer>
            <div style="margin: 2%; text-align: right;">
                <button mat-raised-button type="submit" color="primary" [disabled]="submitting">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                    <span *ngIf="id">Update</span>
                    <span *ngIf="!id">Save</span>
                </button>
                <a routerLink="/orders" class="btn btn-link">Cancel</a>
            </div>
        </mat-card-footer>
    </mat-card>
</form>
    <mat-card>
        <mat-card-header>
            <h2 style="margin-top: 1%; margin-left: 1%;"> Order Details </h2>
            
            <span *ngIf="id">
                <button style="margin-top: 20%; margin-left: 10%;" (click)="addDetail()" mat-raised-button color="primary">Add</button>
           </span>
        </mat-card-header>
        <mat-card-content>
            <table id="orderDetails" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- <ng-container matColumnDef="id">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container> -->

                <ng-container matColumnDef="qty">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Qty </th>
                    <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
                </ng-container>

                <ng-container matColumnDef="product">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Product </th>
                    <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.price | currency:'PHP'}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.total | currency:'PHP'}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="openDialog(element.id)" mat-raised-button color="warn">Remove</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
