<mat-card style="margin: 1%">
    <h2 style="margin-top: 1%; margin-left: 1%;">Orders</h2>
    <mat-card-header>
        <mat-form-field>
            <input matInput (keyup)="filterChange($event)" placeholder="Search here..."/>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Filter transaction date</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="month" [startAt]="filterDate"></mat-datepicker>
        </mat-form-field>

        <button style="margin-left: 44%;" routerLink="add" mat-raised-button color="primary">Create</button>
        <button style="margin-left: 1%;" mat-raised-button color="warn" (click)="exportTable()"><mat-icon>grid_on</mat-icon>Export</button>
    </mat-card-header>
    <mat-card-content>
        <table id="orders" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="transaction_date">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Transaction Date </th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_date | date: 'MM/dd/yyyy' }} </td>
            </ng-container>

            <ng-container matColumnDef="or_number">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> OR # </th>
                <td mat-cell *matCellDef="let element"> {{element.or_number}} </td>
            </ng-container>

            <ng-container matColumnDef="ordered_to">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Ordered To </th>
                <td mat-cell *matCellDef="let element"> {{element.ordered_to}} </td>
            </ng-container>

            <ng-container matColumnDef="total_amount">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Total Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.total_amount | currency:'PHP'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="edit/{{element.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <br>
    <mat-card-footer>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>