/* add-edit */

mat-card {
    margin: 2%;
    text-align: left;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

.mat-25 {
    width: 23%;
    margin: 1%;
}

.mat-50 {
    width: 48%;
    margin: 1%;
}

.full-width {
    width: 53%;
    margin: 1%;
}

/* list */

.mat-column-name {
    width: 20%;
}

.mat-column-description {
    width: 20%;
}