 <!-- <mat-tab-group class="sticky-nav">
  <mat-tab label="Books" > -->


<mat-card style="margin: 1%"> 
 <h2 style="margin-top: 1%; margin-left: 1%">Books List</h2>
  <mat-card-header>
    <mat-form-field>
      <input
        matInput
        (keyup)="filterChange($event)"
        placeholder="Search here..."
      />
    </mat-form-field>
    <button
      style="margin-left: 64%"
      routerLink="add"
      mat-raised-button
      color="primary"
    >
      Create
    </button>

    <button
      style="margin-left: 1%"
      mat-raised-button
      color="accent"
      routerLink="groups"
    >
      <mat-icon>grid_on</mat-icon>Report
    </button>

    <button
      style="margin-left: 1%"
      mat-raised-button
      color="warn"
      (click)="exportTable()"
    >
      <mat-icon>grid_on</mat-icon>Export
    </button>
  </mat-card-header>
  <mat-card-content>
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table
        id="books"
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!--
                <ng-container matColumnDef="id">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                -->

        <ng-container matColumnDef="accession">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Accession</th>
          <td mat-cell *matCellDef="let element">
            {{ element.accession?.name }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- <ng-container matColumnDef="number">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Number</th>
          <td mat-cell *matCellDef="let element">{{ element.number }}</td>
        </ng-container> -->

        <ng-container matColumnDef="category">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">
            {{ element.category?.name }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--
            <ng-container matColumnDef="name">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Athor </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container> -->

        <ng-container matColumnDef="title">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="author">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Author</th>
          <td mat-cell *matCellDef="let element">
            {{ element.author?.full_name }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--
             <ng-container matColumnDef="publisher">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Publisher </th>
                    <td mat-cell *matCellDef="let element"> {{element.publisher?.name}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                -->

        <ng-container matColumnDef="classification">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            Classification
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.classification }}
          </td>
        </ng-container>
        <!--
                <ng-container matColumnDef="quantity">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>


                
                <ng-container matColumnDef="publisher">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Publisher </th>
                    <td mat-cell *matCellDef="let element"> {{element.publisher?.name}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
               -->
+-
        <!-- <ng-container matColumnDef="description">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> 
                    {{(element.description.length > 40) ? ((element.description).slice(0, 80) + '...') : element.description}}
                </td>
            </ng-container> -->

            <ng-container matColumnDef="book_status">
              <th mat-sort-header mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.book_status}} </td>
          </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <a
              routerLink="editbook/{{ element.id }}"
              class="btn btn-sm btn-primary me-1"
              >Edit</a
            >
            <a
              routerLink="view/{{ element.id }}"
              class="btn btn-sm btn-success me-1"
              >View</a
            >
          </td>
        </ng-container>
        <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
      </table>
    </section>
  </mat-card-content>
  <br />
  <mat-card-footer>
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
  
<!-- </mat-card> 

</mat-tab>
<mat-tab label="Categories" routerLink="/categorys" ><category-list-component></category-list-component></mat-tab>
<mat-tab label="Authors"><author-list-component></author-list-component></mat-tab>
<mat-tab label="Publihsers"><publisher-list-component></publisher-list-component></mat-tab>

</mat-tab-group> -->
