<mat-card>
    <mat-card-header
      ><h2 style="margin-top: 1%; margin-left: 1%">
        {{ title }}
      </h2></mat-card-header
    >
    <mat-card-content>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label" for="exampleEmail">Accession</label>
                    <div class="col-sm-5 mt-1">
                        {{book?.accession?.code}}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="position-relative row form-group">
                    <label class="col-sm-2 col-form-label" for="exampleEmail">Category</label>
                    <div class="col-sm-5 mt-1">
                        {{book?.category?.code}}
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>
      <div style="margin: 2%; text-align: right">
        <a routerLink="/books" class="btn btn-link">Cancel</a>
      </div>
    </mat-card-footer>
</mat-card>