<mat-card style="margin: 1%">
    <h2 style="margin-top: 1%; margin-left: 1%;">Borrowers Record</h2>
    <mat-card-header>
        <mat-form-field>
            <input matInput (keyup)="filterChange($event)" placeholder="Search here..." />
        </mat-form-field>
        <button style="margin-left: 74%;" routerLink="add" mat-raised-button color="primary">Create</button>
        <button style="margin-left: 1%;" mat-raised-button color="warn"
            (click)="exportTable()"><mat-icon>grid_on</mat-icon>Export</button>
    </mat-card-header>
    <mat-card-content>
        <section class="example-container mat-elevation-z8" tabindex="0">
            <table id="borrowers_record" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!--
                <ng-container matColumnDef="id">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                -->
                <ng-container matColumnDef="student">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Student </th>
                    <td mat-cell *matCellDef="let element"> {{element.student?.full_name}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="employee">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef>Faculty</th>
                    <td mat-cell *matCellDef="let element"> {{element.employee?.full_name}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="book">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Book</th>
                    <td mat-cell *matCellDef="let element"> {{element.book?.title}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="date_borrowed">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Date borrowed</th>
                    <td mat-cell *matCellDef="let element"> {{element.date_borrowed | date: 'MM/dd/yyyy' }}
                    <!--<td mat-cell *matCellDef="let element"> {{element.date_borrowed | date: 'MM/dd/yyyy hh:mm:ss' }}-->
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="date_returned">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Date Returned</th>
                    <td mat-cell *matCellDef="let element"> {{element.date_returned | date: 'MM/dd/yyyy' }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <!--
            <ng-container matColumnDef="date_borrowed">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Date Borrowed </th>
                <td mat-cell *matCellDef="let element"> {{element.date_borrowed}} </td>
            </ng-container> 

            
            <ng-container matColumnDef="name">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Athor </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container> 

            <ng-container matColumnDef="title">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="author">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Author </th>
                <td mat-cell *matCellDef="let element"> {{element.author?.name}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="publisher">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Publisher </th>
                <td mat-cell *matCellDef="let element"> {{element.publisher?.name}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            -->

                <!-- <ng-container matColumnDef="description">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> 
                    {{(element.description.length > 40) ? ((element.description).slice(0, 80) + '...') : element.description}}
                </td>
            </ng-container> 

            <ng-container matColumnDef="status">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container> -->

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <a routerLink="edit/{{element.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                        <a routerLink="edit/{{element.id}}" class="btn btn-sm btn-primary me-1">Return</a>
                    </td>
                </ng-container>
                 <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            </table>
        </section>
    </mat-card-content>
    <br>
    <mat-card-footer>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>