<!-- <div class="p-3">
    <div class="container">
        <h2>Home</h2>
        <p>You're logged in as {{user?.user?.username}}</p>
    </div>
</div>-->

<mat-card style="margin: 1%">
    <mat-card-header>
        <h2>Home</h2>
    </mat-card-header>
    <mat-card-content>
        <p>You're logged in as {{user?.user?.username}}</p>
    </mat-card-content>
</mat-card>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-2 custom-box1 p-5 m-2 rounded shadow text-align-center ">
            <div class="text-align-center text-white font-weight-bold h4 ">Books</div>
        </div>
        <div class="col-md-2 custom-box3 p-5 m-2 rounded shadow">
            <!-- Box 3 -->
        </div>
        <div class="col-md-2 custom-box1 p-5 m-2 rounded shadow ">
            <!-- Box 1 -->
        </div>
        <div class="col-md-2 custom-box2 p-5 m-2 rounded shadow">
            <!-- Box 2 -->
        </div>
        <div class="col-md-2 custom-box3 p-5 m-2 rounded shadow">
            <!-- Box 2 -->
        </div>
        
    </div>
</div>
